@import '../../../App.scss';

.textHover:hover {
  .titleLatestBlog {
    color: $mainColor !important;
  }
}

.latestBlog {
  @media (max-width: 1536px) {
    padding: 1.25rem 0 !important;
    width: 100% !important;
    margin: 0 auto;
  }
}

.latestBlog .textHover {
  @media (max-width: 521px) {
    width: 80% !important;
    margin: 0 auto;
  }
}
