@import '../../../App.scss';

.productHover.ant-card-hoverable:hover {
  box-shadow: none;
  .ant-card-body {
    .ant-card-meta {
      .ant-card-meta-detail {
        @media (max-width: 1024px) {
          text-align: center;
        }

        .ant-card-meta-title {
          color: $mainColor !important;
        }
      }
    }
  }
}

.ant-card-body {
  padding: 16px;
  padding-top: 0 !important;
  @media (max-width: 1024px) {
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.smallAdverInfor {
  .ant-card-meta-title {
    font-size: 20px !important;
    color: $titleColor !important;
    white-space: normal;
  }
}

@media (max-width: 1024px) {
  .productHover {
    display: block;
    width: 100%;
    justify-content: center;
    padding: 1rem 0;
  }

  .smallAdverImg {
    padding: 1.5rem 3rem !important;
    width: 18rem !important;
    height: auto !important;
    margin: 0 auto;
    padding-bottom: 0.5rem !important;
  }

  .smallAdverInfor {
    padding: 0.5rem 1.5rem;
    @media (max-width: 638px) {
      width: 100%;
      margin: 0 auto !important;
    }
  }
}

@media (max-width: 768px) {
  .smallAdverImg {
    width: 100% !important;
  }
}

@media (max-width: 638px) {
  .productHover {
    width: 100%;
    .ant-card-cover {
      display: flex;
      justify-content: center;

      .smallAdverImg {
        padding: 0.5rem !important;
        width: 240px;
        height: auto;
      }
    }
  }
}
