@import '../../App.scss';

.headerStyle {
  text-align: center;
  background: $secondColor;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  @media (max-width: 1024px) {
    .slideDisplayMobile {
      display: block;
      padding: 10px 20px !important;
    }

    .inforCarousel {
      padding-top: 1rem;
      h1 {
        font-size: 1.25rem !important;
      }
    }

    .colInfor {
      max-width: 100% !important;
      flex: 1 !important;
    }

    .colPicture {
      max-width: 100%;
      .slidePicture {
        margin-top: 1rem;

        img {
          width: 100%;
          margin: 0 auto;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.customizeDots {
  .slick-dots {
    li {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: transparent;
      border-color: transparent;
      border-width: 1px;

      &.slick-active {
        // height: 24px;
        // top: -10px;
        width: 6px;
        button {
          // width: 24px;
          // height: 24px;
          border-radius: 50%;
          background-color: transparent;
          border-color: $mainColor;
          border-width: 1px;
        }
      }
    }
  }

  .slick-dots li button::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $mainColor;
    // left: 25%;
    // top: 25%;
  }
}
