@import '../../../App.scss';

.advertisementProducts {
  @media (max-width: 1024px) {
    width: 100%;
    margin: 0 auto;
  }
  @media (max-width: 768px) {
    width: 100%;
    margin: 0 auto;
  }
  .ant-card-body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 24px 0 !important;
    // @media (max-width: 1024px) {
    //   width: 45%;
    // }

    @media (max-width: 768px) {
      width: 100%;
    }

    .ant-row {
      @media (max-width: 1024px) {
        display: block;
        margin: 0 auto;

        .ant-col {
          margin: 0 auto;
          max-width: 100%;
          text-align: center;
        }
      }

      @media (max-width: 768px) {
        .ant-col {
          width: 100%;

          img {
            width: 100%;
            height: auto !important;
          }
        }
      }
    }

    @media (max-width: 638px) {
      padding: 12px;
    }
  }
}

.advertisementProducts:hover {
  box-shadow: none;

  .inforAdvertisementProducts {
    .titleInforAdvertisementProducts .titleColor {
      color: $mainColor !important;
    }
    .ant-space-item button {
      background: $titleColor;
      .discoverMoreHover {
        color: white !important;
      }
    }
  }
}

.inforAdvertisementProducts {
  @media (max-width: 1280px) {
    padding: 3rem 0 !important;
  }
  @media (max-width: 1024px) {
    padding: 3rem 1rem !important;

    .textSale {
      justify-content: center;
    }
  }
}

@media (max-width: 638px) {
  .bigAdverMobile {
    padding: 0 8px !important;
  }
}
